#navbar{
  font-size: 30px;
  color: wheat;
}
#navbar img{
  border-radius: 50%;
  width: 40%;
}
h1{
  font-family: 'Alfa Slab One', cursive;  
}
.display-4{
  text-align: center;
  color:goldenrod;
}
body{
  font-family: 'Livvic', sans-serif;
}
.flip img{
  padding: 2%; 
}
.display-5{  
  color:goldenrod;
}
#bounce{
  /* animation: heartbeat 4s infinite; */
  animation: mymove 5s infinite;
  padding: 1%;
  
  
}
@keyframes mymove {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-55px);
  }
  60% {
    transform: translateY(-45px);
  }
}
#showOrders {
  display: none;
}

.myOrders{
  cursor: pointer;

}

.myOrders:hover {
  text-decoration: underline;
}  

#showTotal {
  text-align: center;
  
}
